.content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.svg {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  will-change: transform;
}

.card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
}